
/* create index css */

.nav-pills .nav-link {
    border-radius: 20px;
    margin-right: 5px;
    background-color: #f3f3f3;
    color: #555;
}
.nav-pills .nav-link.active {
    background-color: #ffc107 !important;
    color: #000 !important;
    font-weight: 600;
}
.step-done {
    font-weight: bold;
}


.filepond--root {
    max-width: 250px;
    margin: auto;
}
.filepond--drop-label {
    background: #f8f9fa;
    border: 2px dashed #ffc107;
    padding: 25px;
    transition: all 0.3s ease;
    width: 100%;
    height: 200px !important;
}
.filepond--drop-label:hover {
    background: #fff8e1;
    border-color: #ffca28;
}
.filepond--image-preview-wrapper {
    border-radius: 10px;
}

/* login CSS Start*/
 .login-bg {
      background: url("/assets/img/logo/login.jpg") no-repeat center center fixed !important;
      background-size: cover;
      font-family: 'Public Sans', sans-serif;
    }

    .authentication-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      backdrop-filter: blur(4px);
    }

    .card-area {
      background: rgba(255, 255, 255, 0.15); /* semi-transparent white */
      backdrop-filter: blur(10px);
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .card-area-body-login {
      color: #fff;
    }

    .form-labelf,
    .text-bodyf,
    .form-check-labelf,
    .text-center-login {
      color: #fff !important;
    }

    input.form-control {
      background-color: rgba(253, 6, 6, 0) ;
    }

    .btn-primary-login {
        background: linear-gradient(rgba(253, 0, 0, 0.562)) !important;
    }

    .btn-primary:hover {
        background: linear-gradient(to right, #ff4d4d, #ff0000);
    }
    .input-group-text{
        background-color: transparent !important;
    }
/* login CSS end*/


