
/* create index css */

.nav-pills .nav-link {
    border-radius: 20px;
    margin-right: 5px;
    background-color: #f3f3f3;
    color: #555;
}
.nav-pills .nav-link.active {
    background-color: #ffc107 !important;
    color: #000 !important;
    font-weight: 600;
}
.step-done {
    font-weight: bold;
}


.filepond--root {
    max-width: 250px;
    margin: auto;
}
.filepond--drop-label {
    background: #f8f9fa;
    border: 2px dashed #ffc107;
    padding: 25px;
    transition: all 0.3s ease;
    width: 100%;
    height: 200px !important;
}
.filepond--drop-label:hover {
    background: #fff8e1;
    border-color: #ffca28;
}
.filepond--image-preview-wrapper {
    border-radius: 10px;
}